@model Discount

<h2>Obriši popust</h2>

<h3>Jeste li sigurni da želite obrisati ovaj popust?</h3>
<div>
    <h4>@Model.Name (@Model.Percentage%)</h4>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Natrag na popis</a>
    </form>
</div>