@model IEnumerable<Discount>

<h2>Popusti</h2>

<p>
    <a asp-action="Create">Dodaj novi popust</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Postotak</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var discount in Model)
        {
            <tr>
                <td>@discount.Name</td>
                <td>@discount.Percentage%</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@discount.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@discount.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>