@model Category

<h2>Obriši kategoriju</h2>

<h3>Jeste li sigurni da želite obrisati ovu kategoriju?</h3>
<div>
    <h4>@Model.Name</h4>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Natrag na popis</a>
    </form>
</div>