.card {
    transition: transform 0.2s;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}


.navbar {
    padding: 10px 0;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    font-weight: 500;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    min-height: 85vh; 
}

footer {
    background: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    font-weight: bold;
}


